<footer class="site-footer">
    <div class="footer-content">
        <div>
            <h2>Mapa do Site</h2>
            <a href="index.html">Homepage</a>
            <a data-page="iniciativas" href="iniciativas.html">Iniciativas</a>
            <a href="#indicadores">Indicadores</a>
            <a href="#biblioteca">Biblioteca</a>
            <a href="#glossario">Glossário</a>
        </div>
        <div>
            <h2>Links Úteis</h2>
            <a href="#">Prefeitura de Niterói</a>
            <a href="#">SEPLAG</a>
            <a href="#">ObservaNit</a>
            <a href="#">SIGEO</a>
            <a href="#">Niterói 360°</a>
            <a href="#">SMMU</a>
        </div>
        <div class="contact">
            <h2>Contato</h2>
            <a class="email" href="mailto:ssagi@seplag.niteroi.rj.gov.br"><img src="assets/mail.svg" alt="">ssagi@seplag.niteroi.rj.gov.br</a>
            <p>Rua São Pedro, 181, Centro - Niterói</p>
            <img class="footer-logo" src="assets/seplag-header.png" alt="">
        </div>
    </div>
    <div class="footer-gradient"></div>
</footer>
